@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,300);

body {
    font-size: 16px;
    font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
}

.form-wrap {
    border: solid 1px #CCCBC9;
    background-color: #F2F1EF;
    width: 550px;
    margin: 5% auto;
    border-radius: 5px;
}

.input-wrap {
    padding: 1em;
    margin: 1em;
}

.input-group {
    margin-top: 0.4em;
    text-align: right;
}

.input-group label {
    margin-right: 0.4em;
}

.input-group input {
    width: 72%;
    text-align: left;
}