@import url(https://fonts.googleapis.com/css?family=Courgette);
body {
    font-size: 16px;
    font-family: 'Courgette', 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
    color: #fcf1db;
    background-color: #4c311a;
    background-image: url(breakfast_bg.png);
    background-repeat: repeat;
}

h1 {
    margin-bottom: 0.4em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.4em;
}

#logo-title {
    text-align: center;
}

#logo-title h1 {
    font-size: 4em;
    margin: 0;
}

#logo-title h2 {
    font-size: 3em;
    margin: 0;
}

#sally-smith:before {
    content: '';
    width: 162px;
    height: 162px;
    border: dashed 2px #fcf6ea;
    position: absolute;
    top: -8px;
    left: -8px;
    border-radius: 50%;
}

#sally-smith {
    background-image: url(sally_smith.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fcf6ea;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 8px #764C29;
    position: absolute;
    top: -70px;
    left: -74px;
    transform: rotate(-5deg);
}

.form-wrap {
    border: dashed 2px #fcf6ea;
    background-color: #764C29;
    width: 550px;
    margin: 100px auto;
    border-radius: 5px;
    position: relative;
}

.input-wrap {
    padding: 1em;
    margin: 1em;
}

.input-group {
    margin-top: 0.4em;
    text-align: right;
}

.input-group label {
    margin-right: 0.4em;
    margin-left: 0.45em;
}

.input-group input {
    width: 72%;
    text-align: left;
    height: 1.75em;
    border-radius: 3px;
    padding-left: 0.4em;
    border: solid 1px #cccbc9;
    background-color: #fcf6ea;
    outline: none;
    color: #4c311a;
}

#ship_city,
#bill_city {
    width: 45%;
}

#ship_state,
#bill_state {
    width: 14%;
}

select {
    outline: none;
    height: 2em;
    border-radius: 3px;
    padding-left: 0.4em;
    border: solid 1px #cccbc9;
    background-color: #fcf6ea;
    outline: none;
    color: #4c311a;
}

select:focus,
input:focus {
    border: dashed 1px #4c311a;
}

#same_as {
    margin-bottom: 1em;
    margin-right: 0.4em;
}

label[for="same_as"] {
    font-size: 0.8em;
}

#next-button {
    text-align: right;
}


/* form validation classes */

.invalid input {
    background-color: rgba(255, 181, 181, 1);
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    border-color: rgba(188, 19, 57, 1);
}

.invalid select {
    background-color: rgba(255, 181, 181, 1);
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    border-color: rgba(188, 19, 57, 1);
}

.error {
    border-radius: 0 0 5px 5px;
    background-color: rgba(188, 19, 57, 1);
    color: white;
    text-align: center;
}

.active {
    padding: 0.3em;
    display: block;
    margin-bottom: 3px;
    width: 72%;
    margin-left: 26.1%;
}

/* ------------------------------------
Button styling
--------------------------------------- */

.button:focus {
    outline: none;
}

.button {
    vertical-align: bottom;
    display: inline-block;
    color: #fcf6ea;
    font-size: 1.5em;
    background-color: #764C29;
    text-align: center;
    padding: 0.3em 1.5em 0.3em 1.5em;
    border: dashed 2px #fcf6ea;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1.2em;
    /*width: 100%;*/
}

.button:hover {
    color: #4c311a;
    background-color: #fcf6ea;
}

.button:active {
    color: #fcf6ea;
    background-color: #4c311a;
    border: dashed 2px #fcf6ea;
}
