@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
	font-size: 16px;
	font-family: 'Lobster', 'Helvetica', 'Arial', sans-serif;
	box-sizing: border-box;
	color: #992929;
}

input, select {
	margin: 0.25em 0em 0.75em 0em;
	padding-left: 0.4em;
	display: block;
	height: 2.75em;
	font-weight: 300;
	/*width: 100%;*/
	color: #353535;
	border: solid 1px #d8d8d6;
	border-radius: 5px;
	box-sizing: border-box;
}

input:focus {
	font-weight: 400;
	outline-style: none;
	border-bottom: solid 2px #bf3333;
	border-right: none;
	border-left: none;
	border-top: none;
	/*border-radius: 0px;*/
	color: #1E1E1E;
}

form {
	border-radius: 5px;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.75em;
	margin-top: 0;
  margin-bottom: 0.5em;
  color: #bf3333;
  font-family: 'Lobster', 'Ubuntu', sans-serif;
  text-shadow: -1px 1px #f9e7db, -3px 2px #992929;
}

a {
	text-decoration: none;
	color: #707070;
	font-weight: normal;
}

a:hover {
	color: #bf3333;
}

.checkbox-wrap input, .checkbox-wrap label{
	display: inline-block;
}

input[type="checkbox"] {
	margin: 0;
	height: 1.8em;
	display: inline-block;
}

label[for="remember"] {
	margin-top: 0;
	vertical-align: super;
  height: 2em;
  padding-left: 0.5em;
}

.full-width-input input {
	width: 100%;
}

.form-wrap {
	border: solid 1px #CCCBC9;
	background-color: #f2f2f2;
  background: repeat url(sayagata.png);
	width: 50%;
	margin: 5% auto;
	border-radius: 5px;
}

.input-wrap {
	padding: 1em;
	margin: 1em 1em 0em 1em;
}

.first-input {
    clear: both;
}

.align-right {
	text-align: right;
}
#hand {
    float: left;
    margin-right: 0.25em;
}

#forgot {
	float: left;
	text-align: left;
	width: 50%;
}

#not-a-member {
	float: left;
	text-align: right;
	width: 50%;
}

.clear-float {
	clear: both;
}
.centered-text {
	text-align: center;
}
/* ------------------------------------
Button styling
--------------------------------------- */
.button:focus {
  outline: none;
}

.button {
  /*font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;*/
  vertical-align: bottom;
  display: inline-block;
  color: white;
  font-size: 1.75em;
  background-color: #bf3333;
  text-align: center;
  padding: 0.3em 1.5em 0.3em 1.5em;
  border-top: solid 1px #992929;
  border-right: solid 1px #992929;
  border-bottom: solid 2px #992929;
  border-left: solid 1px #992929;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0.5em;
  width: 100%;
}

.button:hover {
  opacity: 0.8; 
}

.button:active {
  opacity: 1;
  background-color: #992929;
  border-top: solid 2px #751f1f;
  border-right: solid 1px #751f1f;
  border-bottom: solid 1px #bf3333;
  border-left: solid 1px #751f1f;
}